/* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background:  #21314d;
    }
    /* Sidebar */
    .wy-nav-side {
      background: #CFDCE9;
    }
    /* Caption Text on Side Menu */
    .wy-menu.wy-menu-vertical span.caption-text {
      color: #CC4628;
    }
    /* Link colors */
    a:link {
      color: #09396C;
    }
    a:hover {
      color: #21314d;
    }
    a:visited {
      color: #21314d;
    }

    /* Update sidebar link colors */

   .wy-menu a:link {
         color: #09396C;
      }

   .wy-menu a:hover {
         color:  #21314d;
         text-decoration: underline;
      }

   .wy-menu a:visited {
         color: #21314d;
      }

    /* Content links are underlined */
    .wy-nav-content a:hover {
       text-decoration: underline;
      }


    /* Code / fixed width fonts all colorado Red"
    pre,code {
       color: #CC4628 
     }

    span.pre {
       color: #CC4628 
     }


    /* Reference links within the document setup *?
    .wy-nav-content.reference a:link {

     }

    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .middle, .right {
      width: 30%;
    }
    
    .left {
      width: 40%;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
